<template>
  <div>
    <TheHeader @sidenavToggle="displaySidenav = !displaySidenav" />
    <TheSidenav
      :show="displaySidenav"
      @close="displaySidenav = false"
    />
    <nuxt/>
  </div>
</template>

<script>
  import TheHeader from '@/components/Navigation/TheHeader';
  import TheSidenav from '@/components/Navigation/TheSidenav';

  export default {
    components: {
      TheHeader, TheSidenav
    },
    data() {
      return {
        displaySidenav: false
      }
    }
  }
</script>

<style>
  html, body {
    margin: 0; padding: 0;
    font-family: 'Open Sans', sans-serif;
  }
</style>
